.scrollbar-hide {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  
  .image-container {
    height: 200px; /* Ajusta según necesites */
    background-size: cover;
    background-position: center;
    border-radius: 8px; /* Opcional para esquinas redondeadas */
  }
  
  .loader {
    border: 8px solid #f3f3f3; /* Color del fondo del spinner */
    border-top: 8px solid #4CAF50; /* Color principal del spinner */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  